<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Checker</title>
    <script>
        // Функція перевірки пароля
        async function checkPassword() {
            const enteredPassword = document.getElementById('password').value;
            const hashedPassword = await hashPassword(enteredPassword);
            const response = await fetch('/get_compromised_passwords_hashed');
            const compromisedPasswords = await response.text();
            const compromisedPasswordsSet = new Set(compromisedPasswords.split('\n').map(p => p.trim()));

            let result = document.getElementById('result');
            if (compromisedPasswordsSet.has(hashedPassword)) {
                result.innerText = "Ваш пароль небезпечний. Змініть його!";
                result.style.color = 'red';
            } else {
                result.innerText = "Ваш пароль відсутній у базі скомпроментованих паролей";
                result.style.color = 'green';
            }
        }

        // Функція хешування пароля за допомогою SHA-256
        async function hashPassword(password) {
            const msgUint8 = new TextEncoder().encode(password);
            const hashBuffer = await crypto.subtle.digest('SHA-256', msgUint8);
            const hashArray = Array.from(new Uint8Array(hashBuffer));
            const hashHex = hashArray.map(b => b.toString(16).padStart(2, '0')).join('');
            return hashHex;
        }

        // Функція завантаження перших семи скомпрометованих паролів
        // Функція завантаження 10 найгірших паролів 2024 року
        async function loadTopTenWorstPasswords() {
            const response = await fetch('/get_top_ten_worst_passwords');
            const data = await response.json();
            const passwordsList = document.getElementById('top-ten-worst-passwords');
            passwordsList.innerHTML = '';
            data.passwords.forEach(password => {
                const li = document.createElement('li');
                li.textContent = password;
                passwordsList.appendChild(li);
            });
        }

        // Завантаження 10 найгірших паролів при завантаженні сторінки
        window.onload = loadTopTenWorstPasswords;
    </script>
</head>
<body>
    <h1>Перевірка пароля</h1>
    <form onsubmit="event.preventDefault(); checkPassword();">
        <label for="password">Введіть пароль:</label>
        <input type="password" id="password" name="password" required>
        <button type="submit">Перевірити</button>
    </form>
    <p id="result"></p>
    <h2>Приклад скомпрометованих паролів</h2>
    <ul id="first-seven-passwords"></ul>
</body>
</html>
